/* TURQUOISE #1ABC9C */
/* CARROT #E67E22 */
/* CLOUDS #ECF0F1 */
/* PETER RIVER #3498DB */
/* SUN FLOWER #F1C40F */
/* SILVER #BDC3C7 */
/* BELIZE HOLE #2980B9 */
/* WET ASPHALT #34495E */
/* RED #E74C3C */

body {
    background: #ECF0F1;
}

h2 {
    margin: 20px 0;
}

h4 {
    text-align: center;
    font-size: 24px;
}

.navbar {
    margin: 0;
}
.navbar-inner {
    border-radius: 0 !important;
}
.navbar .container {
    width: 940px;
}
#navtitle {
    padding-left: 0;
}

#main {
    position: relative;
}

.pagination-container {
    position: absolute;
    top: 5px;
    right: 230px;
}
.pagination {
    margin: 0;
}
.pagination ul {
    background: transparent;
}
.pagination ul li > a {
    background: #34495e;
    border: 5px solid #34495e;
}
.pagination ul li > a:hover {
    background: #BDC3C7;
    border-color: #BDC3C7;
}
.pagination ul li.active > a {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    color: #fff;
}
.pagination ul li.active > a:hover {
    background-color: #BDC3C7;
    border-color: #BDC3C7;
    color: #fff;
}
.pagination ul li > a.correct {
    background: #34495E;
    border: 5px solid #34495E;
}
.fui-arrow-right, .fui-arrow-left {
    background: transparent !important;
}
.pagination ul li.previous > a, .pagination ul li.next > a {
    /*border-color : #2c3e50 !important;*/
}
.fui-arrow-right {
    border-left: 1px solid #2c3e50 !important;
}
.fui-arrow-left {
    border-right: 1px solid #2c3e50 !important;
}

.question-item textarea {
    width: 50%;
    height: 150px;
    padding: 10px;
}
.question-item button {
    margin: 20px 0;
    width: 130px;
}

#relations {
    margin-bottom: 50px;
    border: 1px solid #DDD;
    padding: 0 20px;
    background: #f4f4f4;
}

#relations h4 {
    font-weight: bold;
    margin: 20px 0;
}
.relation {
    width: 438px;
}
.relation-table {
    background: #f5f5f5;
    color: #34495E;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.relation:nth-child(odd) {
    float: left;
}
.relation:nth-child(even) {
    float: right;
}
.relation th {
    text-align: center;
    color: #1ABC9C;
}
.relation td {
    width: 50%;
}
.relation .pk {
    color: #930F80;
}
.relation .fk {
    color: #C800A4;
}
.relation .fk-table {
    color: #1ABC9C;
}
.table-condensed th, .table-condensed td {
    padding: 4px 10px;
}

caption {
    font-size: 15px;
    margin-bottom: 5px;
}

#user-results {
    float: left;
    width: 48%;
}
#correct-results {
    float: right;
    width: 48%;
}

#user-error {
    color: #E74C3C;
    margin-bottom: 20px;
    font-size: 18px;
}

.ps-name {
    color: #1ABC9C;
}

#editor {
    position: relative;
    width: 100%;
    height: 300px;
    font-size: 16px;
    border: 1px solid #DDD;
}

#footer {
    height: 50px;
    background: 
}
