/* TURQUOISE #1ABC9C */
/* CARROT #E67E22 */
/* CLOUDS #ECF0F1 */
/* PETER RIVER #3498DB */
/* SUN FLOWER #F1C40F */
/* SILVER #BDC3C7 */
/* BELIZE HOLE #2980B9 */
/* WET ASPHALT #34495E */
/* RED #E74C3C */

body {
    background: #ECF0F1;
}

h2 {
    position: relative;
    margin: 20px 0;
}

h4 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

h5 {
    text-align: center;
    margin: 15px 0;
}

ul {
    margin: 0;
}

.main-layout h3 {
    text-align: center;
}

.navbar {
    margin: 0;
}
.navbar-inner {
    border-radius: 0 !important;
}
.navbar .container {
    width: 940px;
}
#navtitle {
    padding-left: 0;
    font-size: 25px;
}

.pagination-container {
    float: right;
    position: relative;
    top: 5px;
    right: -16px;
}
.pagination {
    margin: 0;
}
.pagination ul {
    background: transparent;
}

.pagination ul li > a {
    background: #fff;
    margin: 11px 5px 6px;
    color: transparent;
    border: 1px solid #FFF;
}
.pagination ul li > a:hover {
    background-color: #fff;
    color: #1ABC9C;
    border-color: #fff;
}
.pagination ul li.active > a {
    color: #1ABC9C;
    border: 1px solid #fff;
}
.pagination ul li.active > a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #1ABC9C;
}
.pagination ul li > a.correct {
    background: #1ABC9C;
    color: #1ABC9C;
    border-color: #1abc9c;
}
.pagination ul li > a.correct:hover {
    color: #fff;
    background: #1ABC9C;
}
.pagination ul li.active > a.correct {
    border-color: #1ABC9C;
    color: #fff;
}
.fui-arrow-right, .fui-arrow-left {
    background: transparent !important;
}
.fui-arrow-right:hover, .fui-arrow-left:hover {
    color: #1ABC9C !important;
}
.fui-arrow-right.hover-next {
    color: #1ABC9C !important;
}
.fui-arrow-left.hover-prev {
    color: #1ABC9C !important;
}
.pagination ul li.previous > a, .pagination ul li.next > a {
    color : #fff;
}
.fui-arrow-right {
    border-left: 1px solid #2c3e50 !important;
}
.fui-arrow-left {
    border-right: 1px solid #2c3e50 !important;
}
.pagination ul li:first-child.previous + li > a {
    border-left-width: 1px;
}

.question-item .btn-answer {
    margin: 20px 0;
    width: 80px;
}
.question-item .btn-next {
    display: none;
    margin: 0 auto 20px;
    width: 130px;
}

.table {
    background: #f5f5f5;
    color: #34495E;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#relations {
    margin-bottom: 50px;
    border: 1px solid #DDD;
    padding: 0 20px;
    background: #f4f4f4;
}
#relations h4 {
    font-weight: bold;
    margin: 20px 0;
}
.relation {
    width: 438px;
}
.relation:nth-child(odd) {
    float: left;
}
.relation:nth-child(even) {
    float: right;
}
.relation th {
    text-align: center;
    color: #1ABC9C;
}
.relation td {
    width: 50%;
}
.relation .pk {
    color: #930F80;
}
.relation .fk {
    color: #C800A4;
}
.relation .fk-table {
    color: #1ABC9C;
}
.table-condensed th, .table-condensed td {
    padding: 4px 10px;
}

caption {
    font-size: 16px;
    margin-bottom: 5px;
}

#results {
    position: relative;
}
#results h4{
    margin-top: 10px;
}
.results-wrapper {
    background-color: #f4f4f4;
}
.results-wrapper.error {
    background-color: #f2dede;
    border-color: #eed3d7;
}
.close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 13px;
}
#user-results {
    float: left;
    width: 438px;
}
#correct-results {
    float: right;
    width: 438px;
}
#user-error {
    color: #E74C3C;
    font-size: 18px;
}
#user-error p{
    margin: 0;
}
.ps-name {
    color: #1ABC9C;
    position: relative;
    top: 2px;
}

#editor {
    position: relative;
    width: 100%;
    height: 300px;
    font-size: 16px;
    border: 1px solid #DDD;
}
.ace-xcode .ace_gutter {
    background: #f6f6f6 !important;
}

#problem_sets {
    margin-top: 40px;
}
.problem_set {
    list-style: none;
    padding: 0;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}
.problem_set:hover {
    background-color: #E6E6E6;
}
.problem_set .ps-name {
    font-size: 19px;
    float: left;
    margin-left: 20px;
    color: #34495E;
}
.problem_set .ps-num {
    font-size: 22px;
    float: left;
    display: block;
    height: 100%;
    background: #1ABC9C;
    color: #FFF;
    width: 50px;
    text-align: center;
}
.problem_set .rating {
    float: right;
    position: relative;
    top: 17px;
    margin-right: 0px;
}
.problem_set .ps-rating-num {
    font-size: 19px;
    float: right;
    display: block;
    height: 100%;
    background: transparent;
    color: #34495E;
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.alert {
    padding: 15px;
}
.alert-container {
    width: 940px;
    margin: 0 auto;
}

#vote .rating {
    margin: 15px auto;
    width: 168px;
    float: none;
}

#vote .btn {
    margin: 0 auto;
    display: block;
    width: 190px;
}


/*** rating plugin ***/
/* Credit: http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/ */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    /*color: #f70;*/
    color: gold;
    /*text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);*/
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(.read-only):not(:checked) > label:hover,
.rating:not(.read-only):not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(.read-only) > input:checked + label:hover,
.rating:not(.read-only) > input:checked + label:hover ~ label,
.rating:not(.read-only) > input:checked ~ label:hover,
.rating:not(.read-only) > input:checked ~ label:hover ~ label,
.rating:not(.read-only) > label:hover ~ input:checked ~ label {
    /*color: #ea0;*/
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.clear {
    clear: both;
}