<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
            <div class="nav-collapse collapse" id="nav-collapse-01">
                <ul class="nav">
                    <li>
                        <a id="navtitle" href="#">SQLQuiz</a>
                    </li>
                    {{#if ps_name}}
                    <li>
                        <a href="#"><span class="ps-name">{{ps_name}}</span></a>
                    </li>
                    {{/if}}
                </ul>
            </div><!--/.nav -->
            <div id="question-nav-hook"></div>
        </div>
    </div>
</div>