{{#unless empty}}
<div class="pagination">
    <ul>
        <li class="previous">
            <a href="#prev" class="fui-arrow-left" data-bypass></a>
        </li>
        {{#each this}}
        <li {{#if isActive}}class="active"{{/if}}>
            <a href="#{{questionNumber}}" {{#if correct}}class="correct"{{/if}} data-bypass>{{questionNumber}}</a>
        </li>
        {{/each}}
        <li class="next">
            <a href="#next" class="fui-arrow-right" data-bypass></a>
        </li>
    </ul>
</div>
{{/unless}}