<table class="relation-table table table-condensed table-bordered">
    <tbody>
        <tr>
            <th colspan="2">{{table_name}}</th>
        </tr>
        {{#each columns}}
        <tr>
            <td>{{name}}</td>
            {{#if pk}}
            <td class="pk">Primary key</td>
            {{else}}
                {{#if fk}}
                <td><span class="fk">Foreign key</span> references <span class="fk-table">{{fk.table}}</span> ({{fk.to}})</td>
                {{else}}
                <td>&nbsp;</td>
                {{/if}}
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>
