<table class="relation table">
    <tbody>
        <tr>
            <th colspan="2">{{table_name}}</th>
        </tr>
        {{#each columns}}
        <tr>
            <td>{{name}}</td>
            {{#if pk}}
            <td>Primary Key</td>
            {{else}}
                {{#if fk}}
                <td>Foreign Key {{fk.from}} refrences {{fk.table}}({{fk.to}})</td>
                {{else}}
                <td>&nbsp;</td>
                {{/if}}
            {{/if}}


        </tr>
        {{/each}}
    </tbody>
</table>
